<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/parser">Parser</a></li>
             <li><a href="/stats">Stats</a></li>
            <li><a href="https://telegram.me/wrefbot">Telegram Bot!</a></li>
        </ul>
    </div>
</nav>