<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron align-center">
	        <div class="row">
		        <div class="col-xs-3"></div>
		        <div class="col-xs-6 text-center">
		        	<h2>There are already</h2>
	        	</div>
	        </div>        	
	        <div class="row">
		        <div class="col-xs-3"></div>
		        <div class="col-xs-6 text-center">
		        	<h1 id="totalWords"><%= totalwords %></h1>
	        	</div>
	        </div>
	        <div class="row">
		        <div class="col-xs-3"></div>
		        <div class="col-xs-6 text-center">
		        	<h2>words in the database.</h2>
		        </div>
	        </div>  
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/counter.js"></script>    
</body>
</html>