<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    </header>

    <main>
        <div class="jumbotron align-center">
	        <div class="row">
		        <div class="col-xs-2"></div>
		        <div class="col-xs-8 text-center">
		        	<h3>Type a word and press enter for search it</h3>
	        	</div>
	        </div>        	
	        <div class="row">
		        <div class="col-xs-3"></div>
		        <div class="col-xs-6 text-center"><input type="text" id="input"></div>
	        </div>
	        <div class="row">
		        <div class="col-xs-3"></div>
		        <div class="col-xs-6" id="result"></div>
	        </div>  
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    <script src="javascripts/parser.js"></script>    
</body>
</html>